/* SETUP */
html{line-height:1.15;-ms-text-size-adjust:100%;-webkit-text-size-adjust:100%}body{margin:0}article,aside,footer,header,nav,section{display:block}h1{font-size:2em;margin:.67em 0}figcaption,figure,main{display:block}figure{margin:1em 40px}hr{box-sizing:content-box;height:0;overflow:visible}pre{font-family:monospace,monospace;font-size:1em}a{background-color:transparent;-webkit-text-decoration-skip:objects}abbr[title]{border-bottom:none;text-decoration:underline;text-decoration:underline dotted}b,strong{font-weight:inherit}b,strong{font-weight:bolder}code,kbd,samp{font-family:monospace,monospace;font-size:1em}dfn{font-style:italic}mark{background-color:#ff0;color:#000}small{font-size:80%}sub,sup{font-size:75%;line-height:0;position:relative;vertical-align:baseline}sub{bottom:-.25em}sup{top:-.5em}audio,video{display:inline-block}audio:not([controls]){display:none;height:0}img{border-style:none}svg:not(:root){overflow:hidden}button,input,optgroup,select,textarea{font-family:sans-serif;font-size:100%;line-height:1.15;margin:0}button,input{overflow:visible}button,select{text-transform:none}button,html [type=button],[type=reset],[type=submit]{-webkit-appearance:button}button::-moz-focus-inner,[type=button]::-moz-focus-inner,[type=reset]::-moz-focus-inner,[type=submit]::-moz-focus-inner{border-style:none;padding:0}button:-moz-focusring,[type=button]:-moz-focusring,[type=reset]:-moz-focusring,[type=submit]:-moz-focusring{outline:1px dotted ButtonText}fieldset{padding:.35em .75em .625em}legend{box-sizing:border-box;color:inherit;display:table;max-width:100%;padding:0;white-space:normal}progress{display:inline-block;vertical-align:baseline}textarea{overflow:auto}[type=checkbox],[type=radio]{box-sizing:border-box;padding:0}[type=number]::-webkit-inner-spin-button,[type=number]::-webkit-outer-spin-button{height:auto}[type=search]{-webkit-appearance:textfield;outline-offset:-2px}[type=search]::-webkit-search-cancel-button,[type=search]::-webkit-search-decoration{-webkit-appearance:none}::-webkit-file-upload-button{-webkit-appearance:button;font:inherit}details,menu{display:block}summary{display:list-item}canvas{display:inline-block}template{display:none}[hidden]{display:none}

.clearfix:after {visibility: hidden; display: block; font-size: 0; content: " "; clear: both; height: 0; }

* { -moz-box-sizing: border-box; -webkit-box-sizing: border-box; box-sizing: border-box; }
/* SETUP ENDS */
/* ======================== */

/* ======================== */
/* GENERAL STYLES */
/* background: [background-color] [background-image] [background-position] [background-repeat] [background-attachment]; */
html {
    font-size: 62.5%;
}

body {
    font-family: 'Poppins', sans-serif;
    /* font-family: 'Montserrat', sans-serif; */
    font-size: 1.4rem;
}
/* ==Topographic== */
h1,
h2,
h3 {
    font-family: 'Playfair Display', serif;
}

h1 {
    font-size: 5.833rem;
}

h2 {
    font-size: 5.7rem;
    font-weight: 700;
}

h3 {
    font-size: 5rem;
    font-weight: 700;
}

h4 {
    font-size: 1.4rem;
    font-weight: 600;
    color: rgb(153, 153, 153);
    text-transform: uppercase;
    text-align: center;
    letter-spacing: 8px;
    margin: 0;
}

h5 {

}

p {
    color:rgb(153, 153, 153);
}
/* ==Topographic Ends== */

/* ==wrappers== */
.wrapperPrimary {
    max-width: 1920px;
    margin: 0 auto;
}

.wrapperSecondary {
    max-width: 1170px;
    margin: 0 auto;
    /* border: 1px solid orange; */
}

.wrapperThird {
    max-width: calc(1920px - ((1920px - 1170px) / 2));
    border: 1px solid red;
}
/* ==wrappers ENDS== */

/* ==Site Top Header== */
.headerNavContainer {
    position: relative;
}
.headerNavContainer .wrapperSecondary {
    padding: 65px 0;
}

.headerNavPrimary {
    float: left;
    margin: 10px 0;
}

.headerNavPrimary ul,
.headerNavSecondary ul,
.headerActionLinks ul {
    padding-left: 0;
}

.headerNavPrimary ul li:nth-child(n + 2) {
    margin-left: 50px;
}

.headerNavSecondary ul li,
.headerActionLinks ul li {
    margin-left: 40px;
}

.headerNavPrimary ul li,
.headerNavSecondary ul li,
.headerActionLinks li {
    display: inline-block;
}

.headerNavPrimary ul a,
.headerNavSecondary ul a {
    text-decoration: none;
    font-size: 1.4rem;
    text-transform: uppercase;
    letter-spacing: 0.5px;
    
}

.headerNavPrimary ul a,
.headerNavSecondary ul a,
.headerActionLinks ul a {
    font-weight: 600;
    color: rgb(0, 0, 0);
}

.headerNavPrimary ul a:hover,
.headerNavSecondary ul a:hover,
.headerActionLinks ul a:hover {
    color: rgb(153, 153, 153);
}

.pageHeader {
    margin: 0 auto;
    /* float: left; */
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    /* display: inline-block; */
    /* text-align: center; */
}

.headerNavsRight {
    float: right;
}

.headerNavSecondary {
    display: inline-block;
}

.headerActionLinks {
    display: inline-block;
    font-size: 2rem;
}
/* ==Site Top Header Ends== */

/* ==Site Header Hero== */
.siteHero {
    background: rgba(126, 229, 208) center no-repeat;
}
/* ==Site Header Hero ENDS== */

/* ==Site Footer== */

/* ==Site Footer ENDS== */
/* GENERAL STYLES ENDS */
/* ======================== */

/* ======================== */
/* HOME HEADER STYLES */
/* ==Home Hero== */
.heroHome {
    background-image: url('../assets/home-1.jpeg');
    min-height: 840px;
}
/* ==Home Hero ENDS== */
/* HOME HEADER STYLES ENDS */
/* ======================== */

/* ======================== */
/* MAIN STARTS */

/* ==About Us Section== */
/* ====About Us Director Statement Section==== */
.aboutUsDirector {
    background-color: rgb(237, 237, 237);
    padding: 225px 0 290px 0;
    /* position: relative; */
    /* padding-right: 126px; */
}

.aboutUsDirectorContainer {
    position: relative;
}

.aboutUsHeader {
    margin-bottom: 105px;
}

.aboutUsMainContainer {
    margin-left: 126px;
}

.aboutUsImageContainer {
    width: 40%;
    float: left;
    border: 15px solid rgb(255, 255, 255);
}

.aboutUsImageContainer img {
    width: 100%;
    display: block;
}

.aboutUsTextContainer {
    width: calc(60% - 130px);
    float: right;
    margin: 0 65px;
    position: relative;
}

.aboutUsTextContainer h3 {
    letter-spacing: -1px;
    margin: 35px 0 50px 0;
    line-height: 62px;
}

.aboutUsTextContainer h3::before {
    content: "";
    height: 2px;
    width: 66px;
    background-color: rgb(0, 0, 0);
    position: absolute;
    top: 0;
    left: 0;
}

.aboutUsTextContainer blockquote {
    margin: 0;
    color: rgb(153, 153, 153);
    line-height: 30px;
}

.aboutUsTextContainer .aboutUsDirectorSignature strong {
    color: rgb(0, 0, 0);
    font-weight: 600;
}

.aboutUsTextContainer .aboutUsDirectorSignature em {
    font-style: normal;
}

.aboutUsLogo {
    position: absolute;
    bottom: -135px;
    left: -3px;
    /* transform: translate(-53%, -48%); */
}

.aboutUsDirectorSignature {
    margin: 35px 0 0 0;
}
/* ====About Us Director Statement Section ENDS==== */

/* ====About Us Features==== */
#aboutUs {
    box-shadow: 2px 4px 100px 0px rgba(0, 0, 0, 0.1);
}

.aboutUsFeatures .wrapperThird {
    float: right;
    margin-left: 19.5%;
    /* margin-left: calc((1920px - 1170px) / 2); */
    /* display: inline-block; */
    /* text-align: right; */
}

.featuresTextContainer {
    width: calc(55% - 50px);
    margin-right: 50px;
    float: left;
    padding: 175px 0 90px 0;
    /* margin-right: 10px; */
    /* padding-left: 50px; */
}

.featuresTextContainer h4 {
    color: rgb(0, 0, 0);
    letter-spacing: 1px;
    text-align: left;
}

.featuresTextContainer p {
    line-height: 25px;
    text-align: left;
    margin-top: 15px;
}

.featureContainer {
    padding: 0 75px 0 60px;
    margin-bottom: 40px;
    width: 50%;
    float: left;
    position: relative;
}

.featureContainer::before {
    position: absolute;
    left: 0;
    top: -10px;
}

.feature1::before {
    content: url('../assets/feature-01.png');
}

.feature2::before {
    content: url('../assets/feature-02.png');
}

.feature3::before {
    content: url('../assets/feature-03.png');
}

.feature4::before {
    content: url('../assets/feature-04.png');
}

.feature5::before {
    content: url('../assets/feature-05.png');
}

.feature6::before {
    content: url('../assets/feature-06.png');
}

.featuresImageSection {
    float: right;
    width: 45%;
    /* border: 1px solid blue; */
}

.featuresImageSection img {
    width: 100%;
    display: block;
}
/* ====About Us Features ENDS==== */
/* ==About Us Section ENDS== */

/* ==Testimonials Section== */
.testimonialGalleryBackground {
    background: rgb(237, 237, 237) url('../assets/pattern.png') center no-repeat;
    background-size: cover;
    padding: 170px 0;
}

.testimonialsContainer {
    padding: 100px 100px 90px 100px;
    text-align: center;
    background-color: rgb(255, 255, 255);
    position: relative;
    box-shadow: 1px 2px 2px 0px rgba(0, 0, 0, 0.05);
}

.testimonialsTextHeader {
    margin: 35px 0 75px 0;
}

.testimonialsContainer blockquote {
    font-family: 'Playfair Display', serif;
    color: rgb(51, 51, 51);
    font-style: italic;
    font-size: 2.4rem;
    line-height: 3.6rem;
    margin: 0;
}

.starsRatingContainer {
    margin: 30px 0 40px 0;
}

.fa-star {
    color: rgb(255, 185, 0);
    font-size: 2.3rem;
}

.aboutUsResortDirector {
    margin: 0;
}

.aboutUsResortDirector strong {
    color: rgb(0, 0, 0);
}

.aboutUsResortDirector strong:first-child {
    font-weight: 600;
}

.aboutUsResortDirector strong:nth-child(2) {
    font-weight: 400;
}

.fa-angle-left,
.fa-angle-right {
    font-size: 5rem;
    color: rgb(153, 153, 153);
}

.testimonialsScrollArrow:hover .fa-angle-left,
.testimonialsScrollArrow:hover .fa-angle-right {
    color: rgb(0, 0, 0);
}

.fa-angle-left {
    position: absolute;
    top: 50%;
    left: -100px;
    transform: translateY(-50%);
}

.fa-angle-right {
    position: absolute;
    top: 50%;
    right: -100px;
    transform: translateY(-50%);
}
/* ==Testimonials Section ENDS== */

/* ==Explore Gallery Section== */
.exploreGallery {
    margin-top: 140px;
}

.exploreGalleryTextHeader {
    text-align: center;
    margin: 30px 0 50px 0;
}

.galleryImageContainer {
    width: calc(33.3% - (60px / 3));
    float: left;
    margin-right: 30px;
    margin-bottom: 30px;
}

.galleryImageContainer:nth-child(3n + 3) {
    margin-right: 0;
}

.galleryImageContainer:nth-child(n + 4) {
    margin-bottom: 0;
}

.galleryImageContainer img {
    width: 100%;
    display: block;
}
/* ==Explore Gallery Section ENDS== */

/* <!-- ==Information Section== --> */
.informationImageContainer {
    float: left;
    width: calc(50% + ((1920px - 1170px) / 2) - 75px);
}

.informationImageContainer img {
    display: block;
    width: 100%;
}

.informationTextContainer {
    width: calc(50% - ((1920px - 1170px) / 2) - 45px);
    margin-left: 120px;
    float: left;
}

.information .wrapperThird {
    float: left;
    margin-right: 19.5%;
}

.informationHeader {
    margin-top: 125px;
    text-align: left;
}

.informationTextHeader {
    margin: 20px 0 125px 0;
}

.informationLocation {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 3rem;
    color: rgb(204, 204, 204);
}

.informationLocation strong {
    color: rgb(0, 0, 0);
}

.address p {
    font-style: normal;
}

.addressLocation {
    font-style: normal;
    font-size: 1.7rem;
    line-height: 25px;
}

.emailAdress strong {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    font-size: 1.7rem;
    color: rgb(0, 0, 0);
}

.emailAdress a {
    font-weight: 400;
    font-size: 1.7rem;
    color: rgb(102, 102, 102);
    text-decoration: none;
}

.phoneNumberText {
    font-size: 1.2rem;
    margin: 85px 0 0 0; 
}

.phoneNumberNumber {
    font-family: 'Playfair Display', serif;
    font-weight: 700;
    color: rgb(0, 0, 0);
    font-size: 3.5rem;
    margin: 20px 0 0 0;
}
/* <!-- ==Information Section ENDS== --> */
textarea {
    resize: none;
}

	/* This is to apply positioning for all list items
		li::before {
			position: absolute;
			top: 10px;
			right: 10px;
		}
		
		This is to insert a unique icon for each list item
		li:nth-chile(1)::before {
				content: "[insert icon here]";
        } */
        
/* MAIN ENDS */
/* ======================== */

/* ======================== */
/* FOOTER STARTS */

/* FOOTER ENDS */
/* ======================== */